################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SYNCORE.slnx
/.vs/ProjectEvaluation
/bin
/obj
